@import "./vars.scss";

.header {
  width: 100%;
  height: 154px;
}

.header__panel {
  width: 100%;
  height: 40px;
  background: $panel-bg;
  font-size: .60em;
}

.panel__container {
  padding: 10px 10px 0px 10px;
}

.header__panel a {
  color: $panel-color;
}

.panel__contacts-item {
  cursor: pointer;
  margin-left: 7%;
  word-spacing: 5px;
  transition: .50s;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    color: $red-color;
  }
}

.panel__container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 60px;
}

.socials__item {
  @extend .panel__contacts-item;
}

.socials__item span {
  color: #6d6d6d;
}

.socials__item:nth-child(1) span {
  color: $panel-color;
}

.socials__item:nth-child(1) span:hover {
  color: #74a335;
}

.soc-icons {
  margin-left: 3px;
}

.soc-icons:hover i {
  color: $red-color;
}

.panel__contacts-item i {
  color: #363636;
}

.header__nav {
  width: 100%;
  height: 105px;
  background: $interface-color;
  border-bottom: 3px solid #44464a;
  font-family: $raleway;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 13% 78% 10%;
  padding: 30px 0px 30px 0px;
}

.header__nav-links {
  display: flex;
  padding-top: 14px;
}

.header__nav-link {
  display: block;
  color: $links-color;
  font-size: .60em;
  margin-left: 38px;
  user-select: none;
  &:hover {
    color: $red-color;
  }
}

.header__nav-link i {
  margin-top: -1px;
  position: absolute;
  margin-left: 5px;
}

.header__items {
  color: $panel-color;
  font-size: .75em;
  display: flex;
  cursor: pointer;
  padding: 13px 0px 0px 30px;
}

.header__items i {
  margin-left: 15%;
}

.falling-menu {
  margin-top: 34px;
  margin-left: 175px;
  width: 90px;
  height: 62px;
  background: $panel-bg;
  position: absolute;
  color: #fff;
}
