// импорты для сборки проекта
/*
  @import "./header.scss";
  @import "./media/media-header.scss";
  @import "./media/media-slider.scss";
  @import "./slider.scss";
*/

@import "./vars.scss";

/***********************************/

// базовые настройки

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

* {
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

input, button, select {
  outline: none;
  border: 0;
  background: 0;
}

button {
  cursor: pointer;
}

// wrapper
.exe {
  width: 100%;
  font-family: $roboto;
}

// container
.container {
  width: 80%;
  height: inherit;
  max-width: 1230px;
  margin: 0 auto;
}

// элементы скрытые на разных устройствах
.header__bar {
  display: none;
}

.upfalling__menu {
  display: none;
}

.upfalling__links {
  display: none;
}
