// импорты шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); // roboto


// цвета
$panel-bg: #111111;
$interface-color: #252525;
$panel-color: #252525;
$red-color: #e5493a;

// шрифты
$roboto: 'Roboto', sans-serif;
